.dropper-container {
  position: absolute;
  z-index: 50;
}

.dropper-selected-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dropper-selected-item .dropper-item-container {
  background: var(--yellow);
}

.dropper-item-container {
  width: 80%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: solid 2px var(--black);
  transition: 0.3s ease-in-out;
}

.dropper-item-container > h1 {
  font-size: 20px;
}

.dropper-expanded-items {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
}

.dropper-item-container:hover {
  cursor: pointer;
}

.dropper-expanded-items .dropper-item-container:hover {
  background-color: var(--yellow);
}
